# Possible values: mph, zpool
Pool=mph

# Possible values: ethash, equihash, lyra2v2, neoscrypt, phi
# Ignored if Coin is specified
Algo=equihash

# Possible values: ccminer-klaust, ccminer-phi, ccminer-tpruvot, dstm, ethminer, excavator, vertminer, zecminer
Miner=excavator

# Rig nickname
Worker=rudehash

# Possible values: https://blockchain.info/api/exchange_rates_api
Currency=USD

# Price of electricity, 1 currency unit/kWh
ElectricityCost=0.1

# Possible values: false, true
Debug=false

####################################################################################################
# MPH
####################################################################################################

# MPH user name
User=gradinkov

# Possible values: asia, europe, us-east
Region=europe

# Possible values: btg, eth, ftc, mona, vtc, zcl, zec, zen
# Only set this if you don't want to use algo mining
#Coin=zec

####################################################################################################
# zpool
####################################################################################################

# BTC wallet address
Wallet=1NDFEvsAT66yX2fMsfVn9kwMvaH7WeWBBH
