<?xml version="1.0" encoding="utf-8"?>
<!--
TODO
- show license, ask for accept
- create roaming, local appdata folders
- start in local
- change script to use roaming folder for config, local folder for miners etc
- download powershell and vc redists from web and install
- change config generator to load json from/to roaming folder by default
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Name="RudeHash" Manufacturer="Gradinkov" Id="02A5B2D0-210C-4040-B39F-E201FED20F54" UpgradeCode="C6B80A11-99F5-42EF-ADF9-CD628927362D" Language="1033" Codepage="1252" Version="8.0">

		<Package Id="*" Keywords="Installer" Description="NVIDIA miner in PowerShell" Manufacturer="Gradinkov" Platform="x64" InstallerVersion="200" Languages="1033" Compressed="yes" SummaryCodepage="1252" InstallScope="perUser" InstallPrivileges="limited" />

		<!--Property Id="DISABLEADVTSHORTCUTS" Value="1" /-->
		<!--Property Id="ALLUSERS" Value="0" /-->
		<Property Id="MSIINSTALLPERUSER" Value="1" />
		<Property Id="ALLUSERS" Secure="yes" />

		<Media Id="1" Cabinet="RudeHash.cab" EmbedCab="yes" />

		<Icon Id="ICON_RudeHash" SourceFile="dist\rudehash.ico"/>
		<Icon Id="ICON_RudeHashConfig" SourceFile="dist\rudehash-config.ico"/>

		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFiles64Folder">
				<Directory Id="DIR_PowerShell" Name="PowerShell">
					<Directory Id="DIR_PowerShell_Current" Name="6.0.2" />
				</Directory>
			</Directory>
			<Directory Id="LocalAppDataFolder" Name="AppData">
				<Directory Id="DIR_Programs" Name="Programs">
					<Directory Id="DIR_RudeHash" Name="RudeHash" />
				</Directory>
			</Directory>
			<Directory Id="ProgramMenuFolder">
					<Directory Id="DIR_Shortcuts" Name="RudeHash" />
			</Directory>
		</Directory>

		<DirectoryRef Id="DIR_RudeHash">

			<Component Id="COMP_RudeHash" Guid="666F1889-7F67-4D4B-9314-842FAD3F7BFE">
				<File Id="FILE_CHANGELOG.md" Name="CHANGELOG.md" Source="CHANGELOG.md" />
				<File Id="FILE_LICENSE" Name="LICENSE" Source="LICENSE" />
				<File Id="FILE_README.md" Name="README.md" Source="README.md" />
				<File Id="FILE_rudehash.html" Name="rudehash.html" Source="rudehash.html" />
				<File Id="FILE_rudehash.ps1" Name="rudehash.ps1" Source="rudehash.ps1" />
				<File Id="FILE_rudehash_example.json" Name="rudehash-example.json" Source="rudehash-example.json" />

				<RegistryValue Root="HKCU" Key="Software\Manufacturer\Product" Type="string" Name="InstallFolder" Value="[INSTALLFOLDER]" KeyPath="yes" />
				<RemoveFolder Id="RemoveDIR_RudeHash" Directory='DIR_RudeHash' On='uninstall' />
				<RemoveFolder Id="RemoveDIR_Programs" Directory='DIR_Programs' On='uninstall' />
			</Component>

			<Directory Id="DIR_RudeHashDist" Name="dist">
				<Component Id="COMP_RudeHashDist" Guid="F71CCDB9-1C63-4074-8D1C-E20076543958">
					<File Id="FILE_bootstrap.min.css" Name="bootstrap.min.css" Source="dist\bootstrap.min.css" />
					<File Id="FILE_bootstrap.min.css.map" Name="bootstrap.min.css.map" Source="dist\bootstrap.min.css.map" />
					<File Id="FILE_foundation_icons.css" Name="foundation-icons.css" Source="dist\foundation-icons.css" />
					<File Id="FILE_foundation_icons.woff" Name="foundation-icons.woff" Source="dist\foundation-icons.woff" />
					<File Id="FILE_jsoneditor.min.js" Name="jsoneditor.min.js" Source="dist\jsoneditor.min.js" />
					<File Id="FILE_jsoneditor.min.js.map" Name="jsoneditor.min.js.map" Source="dist\jsoneditor.min.js.map" />

					<RegistryValue Root="HKCU" Key="Software\Manufacturer\Product\dist" Type="string" Value="" KeyPath="yes" />
					<RemoveFolder Id="RemoveDIR_RudeHashDist" Directory='DIR_RudeHashDist' On='uninstall' />
				</Component>
			</Directory>

		</DirectoryRef>

		<DirectoryRef Id="DIR_Shortcuts">
			<Component Id="COMP_StartIcons" Guid="362DC031-35AE-47C1-BCEB-A66F4CDD33F2">
				<Shortcut Id="LINK_RudeHash" Name="RudeHash" Target="[DIR_PowerShell_Current]pwsh.exe" Arguments='-Command "[DIR_RudeHash]rudehash.ps1"' Icon="ICON_RudeHash" />
				<Shortcut Id="LINK_Config" Name="RudeHash Config Editor" Target="[DIR_RudeHash]rudehash.html" Icon="ICON_RudeHashConfig" />
				<Shortcut Id="LINK_Uninstall" Name="Uninstall RudeHash" Target="[System64Folder]msiexec.exe" Arguments="/x [ProductCode]" />

				<RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]" Type="string" Value="" KeyPath="yes" />
				<RemoveFolder Id="RemoveDIR_Shortcuts" Directory="DIR_Shortcuts" On="uninstall" />
			</Component>
		</DirectoryRef>

		<Feature Id="Complete" Level="1">
			<ComponentRef Id="COMP_RudeHash" />
			<ComponentRef Id="COMP_RudeHashDist" />
			<ComponentRef Id="COMP_StartIcons" />
		</Feature>

	</Product>
</Wix>
