# MPH User
User=gradinkov

# Worker Name
Worker=test1

# MPH API Key
ApiKey=wh29p4unl257lt18eucrzahuj5pswka74lu2gxn6utijyxbvered5ttf4v0lk926

# Coin to mine, ZCL/ZEC/ZEN
Coin=ZCL

# Pool Fee is 0.9 Pool Fee + 0.2 AE Fee on MPH
PoolFee=1.1
