# Possible values: miningpoolhub, nicehash, zpool
Pool=nicehash

# Possible values: ethash, equihash, lyra2v2, neoscrypt, phi
# Ignored if Coin is specified
Algo=equihash

# Possible values: ccminer-klaust, ccminer-phi, ccminer-tpruvot, dstm, ethminer, excavator, vertminer, zecminer
Miner=excavator

# Rig nickname
Worker=rudehash

# Possible values: https://blockchain.info/api/exchange_rates_api
Currency=USD

# Price of electricity, 1 currency unit/kWh
ElectricityCost=0.1

# Restart miner if its API reports zero hashrate for 5 consecutive minutes
# Possible values: true, false
Watchdog=true

# Possible values: true, false
Debug=false

# If you want monitoring, get a key from https://multipoolminer.io/monitor/
#MonitoringKey=e956c743-341f-4ec5-b47e-c5ce9463d7d7

# Specify any extra miner arguments you need
#ExtraArgs=

####################################################################################################
# MiningPoolHub, NiceHash
####################################################################################################

# Possible values:
# MPH: asia, europe, us-east
# NH: br, eu, hk, in, jp, usa
Region=usa

####################################################################################################
# NiceHash, zpool
####################################################################################################

# BTC wallet address
Wallet=3Gfmm5iAYvu8wf2pLyUjKBcGWsXZ8EEubi

####################################################################################################
# MiningPoolHub
####################################################################################################

# MPH user name
User=gradinkov

# Possible values: btg, eth, ftc, mona, vtc, zcl, zec, zen
# Only set this if you don't want to use algo mining
#Coin=zec
