# MPH User
User=gradinkov

# Worker Name
Worker=test1

# MPH API Key
ApiKey=wh29p4unl257lt18eucrzahuj5pswka74lu2gxn6utijyxbvered5ttf4v0lk926

# Pool Fee is 0.9 Pool Fee + 0.2 AE Fee on MPH
PoolFee=1.1

# Possible values: zcl, zec, zen
Coin=zcl

# Possible values: equihash, lyra2v2, neoscrypt
Algo=equihash

# Possible values: ccminer-tpruvot, dstm, zecminer
Miner=dstm

# Possible values: asia, europe, us-east
Region=europe

# Possible values: false, true
Debug=false
